<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/bootstrap-3.3.7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/customStyles.css">
</head>

<body>

<div class="container">

    <div class="faq">
        <h4 class="faq-section-header">GETTING STARTED</h4>
        <button data-toggle="collapse" data-target="#1" class="question">What is the MACU Bot for Messenger?</button>
        <div id="1" class="collapse answer">
            <p>The MACU bot is an application that allows you to monitor your credit card by sending notifications in Messenger about charges on your card. It
                also allows you to quickly review outstanding balances, and create travel notices to help you enjoy uninterrupted access to your credit when you
                are abroad.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#2" class="question">What type of messages will the bot send me?</button>
        <div id="2" class="collapse answer">
            <p>Once you connect your card, the bot will automatically send you notifications each time you make a purchase with that card. The notifications
                will contain information such as purchase amount, and merchant name, address, contact information, and category.</p>
            <p>You can also customize when you receive these notifications by specifying a minimum purchase amount or category.</p>
            <p>You have the option to stop these notifications by typing ‘stop notifications’ in the message window or by tapping Options and then Manage
                Notifications in the menu at the bottom of the screen.</p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#3" class="question">What else can the bot do?</button>
        <div id="3" class="collapse answer">
            <p>You can chat directly with the bot by typing your questions into the message window and the bot will do its best to provide appropriate
                responses. If it can’t answer your question, it will direct you to call our customer service line.</p>
            <p>The bot is always learning new skills, so continue to check the options menu to see what it can do.</p>
        </div>
    </div>

    <h4 class="faq-section-header">PRIVACY</h4>

    <div class="faq">
        <button data-toggle="collapse" data-target="#4" class="question">What information is being shared with Facebook once I connect my card?</button>
        <div id="4" class="collapse answer">
            <p>Refer to the <a href="/terms">Privacy Statement</a> for detailed information about the relationship with Facebook</p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#5" class="question">What will Facebook do with this conversation?</button>
        <div id="5" class="collapse answer">
            <p>Refer to the <a href="/terms">Privacy Statement</a> for detailed information.</p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#6" class="question">Why do I need to add my card number / zip code?</button>
        <div id="6" class="collapse answer">
            <p>You must enter your card details so we can identify the correct account and ensure that you are the cardholder of this account.</p>
        </div>
    </div>

    <h4 class="faq-section-header">USING THE BOT</h4>

    <div class="faq">
        <button data-toggle="collapse" data-target="#7" class="question">How do I add multiple / additional cards?</button>
        <div id="7" class="collapse answer">
            <p>Unfortunately, the bot is unable to support multiple cards at this time. If you have a card you would prefer to connect simply remove the current
                card and connect a new one.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#8" class="question">How do I turn off notifications?
        </button>
        <div id="8" class="collapse answer">
            <p>If you no longer want to receive spending notifications, you can turn them off by selecting ‘Options’ then ‘Manage Notifications’ from the menu
                at the bottom of your conversation. Select ‘Stop Notifications’ when prompted by the bot.
            </p>
            <p>If you don’t want to receive any messages from the bot, you must disconnect your card from the bot. You can do this by typing ‘Remove card’ in
                the message window or by tapping ‘Options’ and then ‘Remove Card’ from the menu at the bottom of your conversation.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#9" class="question">How do I see what notifications I have set up?
        </button>
        <div id="9" class="collapse answer">
            <p>You can see your notification settings by selecting ‘Options’ then ‘Manage Notifications’ from the menu at the bottom of your conversation. Then
                select ‘Review Settings’ when prompted by the bot.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#10" class="question">Can I change / set preferences for my notification settings?
        </button>
        <div id="10" class="collapse answer">
            <p>You can change / set preferences for your notification settings by selecting ‘Options’ and then ‘Manage Notifications’ from the menu at the
                bottom of your conversation. Then select ‘Customize Settings’ when prompted by the bot.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#11" class="question">What do I do if I don’t recognize a transaction?
        </button>
        <div id="11" class="collapse answer">
            <p>
                Immediately contact the bank by calling the phone number on the back your card.
            </p>
        </div>
    </div>

    <h4 class="faq-section-header">MANAGING YOUR CARD</h4>

    <div class="faq">
        <button data-toggle="collapse" data-target="#12" class="question">How do I remove my card?
        </button>
        <div id="12" class="collapse answer">
            <p>You can remove your card by typing ‘Remove card’ into the message window. You can also do this by tapping Options and then Remove Card from the
                menu at the bottom of the screen.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#13" class="question">I just removed my card from the bot. Why do I still see the account information in
            Facebook Messenger? Can I delete it?
        </button>
        <div id="13" class="collapse answer">
            <p>The information you see is a record of our past conversations. Refer to Facebook’s Help Center for up to date details if you want to delete this
                information.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#14" class="question">My Facebook account was compromised. What should I do?
        </button>
        <div id="14" class="collapse answer">
            <p>To avoid unauthorized access to your personal information, you should immediately:</p>
            <ul>
                <li>Disconnect your card from the bot</li>
                <li>Delete your conversation with the bot</li>
                <li>Notify us by calling the Service Center at 1-844-852-2397</li>
            </ul>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#15" class="question">What do I do if I suspect fraud on my account?
        </button>
        <div id="15" class="collapse answer">
            <p>We are sorry you suspect fraud on your card or account. If the transaction involved your card, contact Mountain America immediately at
                1-844-852-2397 or use Card Manager on the mobile app to freeze your card. If the fraud is associated with your account, contact the Service
                Center at 1-844-852-2397. If you have any other questions, please contact the Service Center or visit a branch.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#16" class="question">How do I dispute a charge that appears on my account?
        </button>
        <div id="16" class="collapse answer">
            <p>Mountain America Credit Union has three ways to dispute a transaction. If you believe a billing error has occurred, and have made a good faith
                effort to first try and resolve the dispute with the merchant directly, you may:</p>
            <ul>
                <li>Visit your local branch.</li>
                <li>Call toll-free 1-844-852-2397.</li>
                <li>Send it by mail (please include your name, phone number, last four of your account number and a brief explanation of the charges you are
                    disputing) to Mountain America Credit Union, P.O. Box 9001, West Jordan, UT 84084-9001.
                </li>
            </ul>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#17" class="question">I lost or misplaced my card. How do I order a new card?
        </button>
        <div id="17" class="collapse answer">
            <p>You can request a replacement card by using the following methods:
            </p>
            <ul>
                <li>Stopping by a Mountain America branch.</li>
                <li>Using the Card Manager in our mobile app</li>
                <li>Calling the Service Center at 1-844-852-2397 to have a card mailed to you. Delivery takes 7-10 business days.</li>
            </ul>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#18" class="question">Can I use my Visa card internationally?
        </button>
        <div id="18" class="collapse answer">
            <p>Yes, anywhere Visa is accepted. Visa fees will apply, and it will show on your statement as an international 1% transaction service fee. Other
                institution's fees may apply. We also recommend using a chip card to prevent any problems when traveling abroad.
            </p>
            <p>Please notify us of your travel plans at 1-844-852-2397 or the Card Manager on the mobile app to avoid any blocks being placed on your card.</p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#19" class="question">Can I stop payment on a Visa card purchase?
        </button>
        <div id="19" class="collapse answer">
            <p>No. A Visa transaction must be honored once it has been authorized by signature, PIN or online.</p>
            <p>However, a dispute may be filed afterward in an attempt to recover the charges. Mountain America will provide a temporary credit, as we work with
                the merchant to resolve the issue.</p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#20" class="question">Where do I go to view and redeem my Visa credit card rewards?
        </button>
        <div id="20" class="collapse answer">
            <p>To redeem your MySelect Rewards points, log into Online Branch, click on the Account tab and under Account Management select the link for
                MySelect Rewards.
                You may also call the Redemption Center toll-free at 1-866-411-2877 from 5:00 a.m. to 8:00 p.m. Mountain Time, Monday through Friday, and 7:00
                a.m. to 8:00 p.m. Saturday and Sunday. Your point balance will be verified and your award ordered.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#21" class="question">Can I find my account number on my Visa debit or credit card?
        </button>
        <div id="21" class="collapse answer">
            <p>For security reasons, account numbers are not available on cards. Mountain America issues randomized card numbers in order to better protect
                members from fraud. Mountain America representatives in both the Service Center and branch locations can use your card number to look up your
                account number.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#22" class="question">How can I request a Visa limit increase?
        </button>
        <div id="22" class="collapse answer">
            <p>A new credit application with your requested increase may be submitted through the mobile banking app, online, through the Service Center at
                1-844-852-2397 or at your local branch.
            </p>
        </div>
    </div>

    <h4 class="faq-section-header">MOUNTAIN AMERICA</h4>

    <div class="faq">
        <button data-toggle="collapse" data-target="#23" class="question">What is Mountain America Credit Union's contact information?
        </button>
        <div id="23" class="collapse answer">
            <p>To contact our Service Center by phone, please call 1-844-852-2397.
            </p>
            Our mailing address is:
            <br>
            Mountain America Credit Union
            <br>
            P.O. Box 9001
            <br>
            West Jordan, UT 84084-9001
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#24" class="question">What is Mountain America Credit Union's ABA Routing Number?
        </button>
        <div id="24" class="collapse answer">
            <p>Mountain America's ABA routing number is 324079555.
            </p>
        </div>
    </div>

    <div class="faq">
        <button data-toggle="collapse" data-target="#25" class="question">
        </button>
        <div id="25" class="collapse answer">
            <p></p>
        </div>
    </div>

</div>
</body>
</html>


