<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Terms and Conditions</title>
    <script src="/assets/jquery-3.2.1.min.js"></script>
</head>

<style>

    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
</style>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">

<body>
<script>
    // disable page scrolling
//    document.body.addEventListener('touchmove', function(e){ e.preventDefault(); });
</script>

<div class="mainDiv">

    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Elementum eu facilisis sed odio morbi quis commodo odio. Mattis ullamcorper velit sed ullamcorper.
                A cras semper auctor neque vitae. Id porta nibh venenatis cras sed felis. Neque vitae tempus quam pellentesque nec nam aliquam sem.
                Nullam non nisi est sit amet facilisis magna etiam. Libero volutpat sed cras ornare. Odio ut enim blandit volutpat maecenas volutpat. Lectus arcu bibendum at varius.
                In fermentum posuere urna nec tincidunt. Sit amet justo donec enim diam. Lectus mauris ultrices eros in cursus. Nunc consequat interdum varius sit amet. Ultrices eros in cursus turpis massa tincidunt.
                Faucibus ornare suspendisse sed nisi lacus sed. Adipiscing tristique risus nec feugiat. Ac turpis egestas maecenas pharetra convallis posuere. Leo in vitae turpis massa sed elementum tempus egestas.
            </p>
            <br>
            <p>
                Aliquet risus feugiat in ante metus. Nulla at volutpat diam ut venenatis tellus. Vulputate ut pharetra sit amet aliquam id diam maecenas.
                Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Sem fringilla ut morbi tincidunt augue interdum.
                Tellus molestie nunc non blandit massa enim nec dui. Risus at ultrices mi tempus imperdiet. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Ut porttitor leo a diam sollicitudin. Massa
            </p>

        </div>
    </div>
</div>

</body>

</html>


